
	  {% extends "Student_Dashboard.html" %} {% load static %} {% block content %}
	  
	  <h4 class="  text-center" style="margin-top: 96px;  margin-bottom: 6px; ;font-family: 'Big Shoulders Display', cursive;
font-family: 'Merriweather', serif;">Notifications:</h4>

	<div class="container" >
		
	  
		  <!--details start-->
		<table id="Table1" class="table table-hover">
  <thead class="thead-dark" >
    <tr>
      <th>Date</th>
      <th class="text-left"  >Notification</th>
      
    </tr>
  </thead>
  <tbody>
   {% for lt in l %}
    <tr>
     
      <td>{{ lt.d_te }}</td>
      <td class="text-left"><a href="{{ lt.messurl }}"> {{ lt.add_notification }}</a></td>
     
    </tr>
   {% endfor %}

  </tbody>
</table>
		<!--details end-->
			
		</div>
	
		
	  <!-- Swiper JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
 
		<script>
	  $('#Table1').dataTable( {
  "ordering": false,
		  "paging": false
} );
	  </script>
	
{% endblock %}